<h1>Please login!</h1>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="enter your username">
    <input type="password" name="password" placeholder="enter your password">

    <input type="submit" value="Login">
</form>