<!DOCTYPE html>
<header></header>
<body>
<div class="jumbotron">
  <h1 class="display-4">RentPort</h1>
  <p class="lead">Manage your properties efficiently</p>
  <hr class="my-4">
  
  <nav>
  <% if logged_in? %>

    <a href="/tweets/new"> Create Tweet </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

  <% else %>
    <div>
      <a href="/signup">Sign Up</a>
    </div>
    <div>
      <a href="/login"> Sign In </a>
    </div>
  <%end %>

</nav>
</div>
</body>
